.layout {
  font-family: Phantomsans, sans-serif;
  background-image: url('../../images/Group 698.jpg');
  color: azure;
  min-height: 100vh;
}

.main {
  margin: 3rem auto 0 auto;
  padding: 2rem 0;
  width: 90%;
  max-width: 85rem;
}

.baselineFlex {
  display: flex;
  align-items: baseline;
}

.alignFlex {
  display: flex;
  align-items: center;
}

.centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayNone {
  display: none;
}

.gradientH1 {
  font-size: 51px;
  background: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 30px;
}

.marginTop {
  margin-top: 60px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.homePageContent {
  margin-left: 40px;
}

.homePageContent h1 {
  padding-bottom: 30px;
}

.homePageContent h2 {
  margin: 0;
  padding: 0;
}

.arrowRight {
  height: 9px;
  width: 9px;
  border: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}